Integer

In [7]:
print(1)

1

Float

In [8]:
print(.2)

0.2

In [9]:
print(type(.2))

<class 'float'>

String

In [15]:
display("Hello world")
'Hello world'
print(type('apa'))
print('"hello world"')
print("can't")
print('"She" knows')
print(''' "She" can't ''')

'Hello world'

<class 'str'>
"hello world"
can't
"She" knows
 "She" can't

Boolean

In [17]:
print(True)
print(False)

print(True + False)
print(True + True)
print(False + False)

True
False
1
2
0

Variable

In [19]:
a = 'saya'
print(a)

a = 500
a

saya

500

In [22]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x, y = 1, 2, 'a'
print(z)
print(x)
print(y)

10
10
10
1
2
a

In [23]:
nama = 'ucup'
age = 25
ukuran_sepatu = 40

print(nama, age, ukuran_sepatu)

ucup 25 40

In [28]:
a = 5
b = 2

print(a + b) 
print(a - b)
print(a * b)
print(a / b) #pembagian desimal
print(a // b) #dijadikan integer
print(a ** b) #pangkat
print(a % b) #modulo -hasil sisa dari pembagian

7
3
10
2.5
2
25
1

comparison operators

In [30]:
a = 5
b = 2
c = 2

print( a == b)
print(c == b)
print(a != b) #tidak sama dengan
print(a > b) #besar dari
print(a >= b) #besar dari sama dengan
print(a < b) #kecil dari
print(a <= b) #kecil dari sama dengan

False
True
True
True
True
False
False

string manipulation

In [32]:
q = 'Py'
w = 'thon'
print(q + w)
print('hactiv + 8')
print(q * a)

print(q in 'Python')
print(w in 'Pyton')

Python
hactiv + 8
PyPyPyPyPy
True
False

In [33]:
h = 'HaCtiv8 Kampus'
print(h.upper())
print(h.lower())
print(h.capitalize())
print(h.swapcase())
print(h.title())

HACTIV8 KAMPUS
hactiv8 kampus
Hactiv8 kampus
hAcTIV8 kAMPUS
Hactiv8 Kampus

In [48]:
print(len(daftar))
print(max(py))
print(min(py))

11
asoy
KS19

List

In [40]:
#index ke           0        1          2         3     4        5
daftar_belanja = ['buku', 'makanan', 'minuman', False, 50, ['apel', 4.9]]
tambahan = ['mangga', 'alpukat', 'jeruk']

print(daftar_belanja)
print(type(daftar_belanja))
print(daftar_belanja[:3]) #start and stop before
print(daftar_belanja[5])
print(daftar_belanja + tambahan)

daftar_belanja[5] = tambahan
print(daftar_belanja)
print(daftar_belanja * 2)

['buku', 'makanan', 'minuman', False, 50, ['apel', 4.9]]
<class 'list'>
['buku', 'makanan', 'minuman']
['apel', 4.9]
['buku', 'makanan', 'minuman', False, 50, ['apel', 4.9], 'mangga', 'alpukat', 'jeruk']
['buku', 'makanan', 'minuman', False, 50, ['mangga', 'alpukat', 'jeruk']]
['buku', 'makanan', 'minuman', False, 50, ['mangga', 'alpukat', 'jeruk'], 'buku', 'makanan', 'minuman', False, 50, ['mangga', 'alpukat', 'jeruk']]

dictionary

In [76]:
alamat = {}

alamat['kota'] = ['Jakarta']
alamat['jalan'] = 'bangka'
alamat['nomor rumah'] = 14
alamat['pohon'] = ['jambu','apel','mangga']
alamat['akses'] = {'TJ':'tidak bisa','gojek':'bisa'}

print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ'])

{'kota': ['Jakarta'], 'jalan': 'bangka', 'nomor rumah': 14, 'pohon': ['jambu', 'apel', 'mangga'], 'akses': {'TJ': 'tidak bisa', 'gojek': 'bisa'}}
apel
tidak bisa

In [79]:
print(alamat.items())
print(alamat.keys())
print(alamat.values())

dict_items([('kota', ['Jakarta']), ('jalan', 'bangka'), ('nomor rumah', 14), ('pohon', ['jambu', 'apel', 'mangga']), ('akses', {'TJ': 'tidak bisa', 'gojek': 'bisa'})])
dict_keys(['kota', 'jalan', 'nomor rumah', 'pohon', 'akses'])
dict_values([['Jakarta'], 'bangka', 14, ['jambu', 'apel', 'mangga'], {'TJ': 'tidak bisa', 'gojek': 'bisa'}])

If

In [1]:
if 1 < 2:
    print('betul')
if 2 > 1:
    print('betul juga')
else:
    print('salah')

betul
betul juga

In [3]:
if 'a' in 'apa': print('ada'); print('a'); print('pada'); print('apa') #code ini tidak disarankan karena tidak efisien

ada
a
pada
apa

conditional expressions / ternary operator

In [25]:
raining = True
print("let's go to the", 'beach' if not raining else 'library')

let's go to the library

In [ ]:
a = 3
b = 1

m = a if a > b else b
m

In [17]:
if True:
    pass
elif True:
    print('y')
print('langsung kesini')

langsung kesini

"While" loops (menjalankan code secara tidak terhingga)

In [ ]:
# while True:
    #print('ini loops')  (statement akan berjalan terus sampai kondisinya False)

In [8]:
#n = 5
#while n > 0:
    #n -= 1 
    #print(n) #statement akan berjalan terus sampai kondisinya False seperti contoh dibawah apabila n masih > 0 maka n - 1 
    
   # n == 2
   # break #untuk memberhentikan continue untuk melongkap
    
 #   print(n)

#print('looping selesai') #setelah semua statement ini akan berjalan

In [3]:
a = 5
while a > 0:
    a -= 1
    if a == 2:
        break
    print(a)
else:
    print('selesai')

4
3

In [10]:
b = 10
while b > 0:
    b -= 1
    if b == 4:
         continue

    print(b)
else: 
    print('selesai')

9
8
7
6
5
3
2
1
0
selesai

Function range

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [45]:
#          start,stop,step
for i in range(1,20,4): 
    print(i)

1
5
9
13
17

In [47]:
for i in range (20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

input

In [1]:
while True:
    password = input('masukkan password kamu:')
    
    if password == 'hactiv8':
        break
    else:
        print('password salah')

masukkan password kamu:hactiv8

In [11]:
while True:
    msg = input('ketikan karakter: ').lower()
    print(msg)
    if msg == 'stop':
        break

ketikan karakter: STOP
stop

In [4]:
tahun_lahir = input('masukkan tahun lahir!')
umur = int(tahun_lahir)
print(2023 - umur)

masukkan tahun lahir!1999
24