Integer

In [7]:
print(1)

1

Float

In [8]:
print(.2)

0.2

In [9]:
print(type(.2))

<class 'float'>

String

In [15]:
display("Hello world")
'Hello world'
print(type('apa'))
print('"hello world"')
print("can't")
print('"She" knows')
print(''' "She" can't ''')

'Hello world'

<class 'str'>
"hello world"
can't
"She" knows
 "She" can't

Boolean

In [17]:
print(True)
print(False)

print(True + False)
print(True + True)
print(False + False)

True
False
1
2
0

Variable

In [19]:
a = 'saya'
print(a)

a = 500
a

saya

500

In [22]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x, y = 1, 2, 'a'
print(z)
print(x)
print(y)

10
10
10
1
2
a

In [23]:
nama = 'ucup'
age = 25
ukuran_sepatu = 40

print(nama, age, ukuran_sepatu)

ucup 25 40

In [28]:
a = 5
b = 2

print(a + b) 
print(a - b)
print(a * b)
print(a / b) #pembagian desimal
print(a // b) #dijadikan integer
print(a ** b) #pangkat
print(a % b) #modulo -hasil sisa dari pembagian

7
3
10
2.5
2
25
1

comparison operators

In [30]:
a = 5
b = 2
c = 2

print( a == b)
print(c == b)
print(a != b) #tidak sama dengan
print(a > b) #besar dari
print(a >= b) #besar dari sama dengan
print(a < b) #kecil dari
print(a <= b) #kecil dari sama dengan

False
True
True
True
True
False
False

string manipulation

In [32]:
q = 'Py'
w = 'thon'
print(q + w)
print('hactiv + 8')
print(q * a)

print(q in 'Python')
print(w in 'Pyton')

Python
hactiv + 8
PyPyPyPyPy
True
False

In [33]:
h = 'HaCtiv8 Kampus'
print(h.upper())
print(h.lower())
print(h.capitalize())
print(h.swapcase())
print(h.title())

HACTIV8 KAMPUS
hactiv8 kampus
Hactiv8 kampus
hAcTIV8 kAMPUS
Hactiv8 Kampus

List

In [47]:
#index ke 0  1  2   3     4         5            6    7   8  9  10
daftar = [1, 2, 3, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
py = ['Python', 'KS19', 'asoy']
print(type(daftar))
print(daftar)
print(daftar[5])
print(daftar[0:4])#start and stop
print(daftar + py)

<class 'list'>
[1, 2, 3, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon']
['b', 300, False]
[1, 2, 3, 'a']
[1, 2, 3, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon', 'Python', 'KS19', 'asoy']

In [48]:
print(len(daftar))
print(max(py))
print(min(py))

11
asoy
KS19

In [68]:
daftar[2] = py
print(daftar)

[1.5, 2.3, ['Python', 'KS19', 'asoy'], 4.6, 2, ['Python', 'KS19', 'asoy'], 'udah malem', 'thon']

dictionary

In [76]:
alamat = {}

alamat['kota'] = ['Jakarta']
alamat['jalan'] = 'bangka'
alamat['nomor rumah'] = 14
alamat['pohon'] = ['jambu','apel','mangga']
alamat['akses'] = {'TJ':'tidak bisa','gojek':'bisa'}

print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ'])

{'kota': ['Jakarta'], 'jalan': 'bangka', 'nomor rumah': 14, 'pohon': ['jambu', 'apel', 'mangga'], 'akses': {'TJ': 'tidak bisa', 'gojek': 'bisa'}}
apel
tidak bisa

In [79]:
print(alamat.items())
print(alamat.keys())
print(alamat.values())

dict_items([('kota', ['Jakarta']), ('jalan', 'bangka'), ('nomor rumah', 14), ('pohon', ['jambu', 'apel', 'mangga']), ('akses', {'TJ': 'tidak bisa', 'gojek': 'bisa'})])
dict_keys(['kota', 'jalan', 'nomor rumah', 'pohon', 'akses'])
dict_values([['Jakarta'], 'bangka', 14, ['jambu', 'apel', 'mangga'], {'TJ': 'tidak bisa', 'gojek': 'bisa'}])